* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  padding: 0;
  margin: 0; }

.row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

.column {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  min-height: 1px;
  border: solid transparent;
  border-width: 0 10px; }
  .column.one {
    width: 8.33333%; }
  .column.two {
    width: 16.66667%; }
  .column.three {
    width: 25%; }
  .column.four {
    width: 33.33333%; }
  .column.five {
    width: 41.66667%; }
  .column.six {
    width: 50%; }
  .column.seven {
    width: 58.33333%; }
  .column.eight {
    width: 66.66667%; }
  .column.nine {
    width: 75%; }
  .column.ten {
    width: 83.33333%; }
  .column.eleven {
    width: 91.66667%; }
  .column.twelve {
    width: 100%; }

@media screen and (max-width: 786px) {
  .column {
    width: 100% !important; } }
