/*
Syntax error: Invalid variable: "$grid -column-names: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve) !default".
        on line 2 of sass/sample/_grid.sass
        from line 2 of sass/sample.sass

1: // grid system
2: $grid -column-names: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve) !default
3: 
4: .row
5:   width: 100%
6:   max-width: 1024px
7: 

Backtrace:
sass/sample/_grid.sass:2
sass/sample.sass:2
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:625:in `parse_variable'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:562:in `parse_line'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:471:in `build_tree'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:490:in `append_children'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:489:in `each'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:489:in `append_children'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:345:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:274:in `to_tree'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:221:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:118:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:105:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:125:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:298:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:306:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.2.0/bin/sass:8
/usr/local/bin/sass:19:in `load'
/usr/local/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid variable: \"$grid -column-names: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve) !default\".\A         on line 2 of sass/sample/_grid.sass\A         from line 2 of sass/sample.sass\A \A 1: // grid system\A 2: $grid -column-names: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve) !default\A 3: \A 4: .row\A 5:   width: 100%\A 6:   max-width: 1024px\A 7: "; }
