/* line 46, ../sass/ardor.sass */
.ardor {
  position: relative;
}
/* line 49, ../sass/ardor.sass */
.ardor .slide {
  position: absolute;
  z-index: -1;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -ms-transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
/* line 57, ../sass/ardor.sass */
.ardor .slide.active {
  z-index: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 11, ../sass/ardor.sass */
.ardor .slide.active .fromright {
  -webkit-animation: fromrightin 800ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-animation: fromrightin 800ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-animation: fromrightin 800ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-animation: fromrightin 800ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: fromrightin 800ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-moz-keyframes fromrightin {
  /* line 15, ../sass/ardor.sass */
  0% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }
}

@-webkit-keyframes fromrightin {
  /* line 15, ../sass/ardor.sass */
  0% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }
}

@-o-keyframes fromrightin {
  /* line 15, ../sass/ardor.sass */
  0% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }
}

@-ms-keyframes fromrightin {
  /* line 15, ../sass/ardor.sass */
  0% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }
}

@keyframes fromrightin {
  /* line 15, ../sass/ardor.sass */
  0% {
    transform: translate(200%);
  }
}

/* line 22, ../sass/ardor.sass */
.ardor .slide.active .fromright.first {
  -webkit-animation-name: fromrightinfirst;
  -moz-animation-name: fromrightinfirst;
  -ms-animation-name: fromrightinfirst;
  -o-animation-name: fromrightinfirst;
  animation-name: fromrightinfirst;
  -webkit-animation-duration: 1100ms;
  -moz-animation-duration: 1100ms;
  -ms-animation-duration: 1100ms;
  -o-animation-duration: 1100ms;
  animation-duration: 1100ms;
}

@-moz-keyframes fromrightinfirst {
  /* line 27, ../sass/ardor.sass */
  0% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  27.27273% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }
}

@-webkit-keyframes fromrightinfirst {
  /* line 27, ../sass/ardor.sass */
  0% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  27.27273% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }
}

@-o-keyframes fromrightinfirst {
  /* line 27, ../sass/ardor.sass */
  0% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  27.27273% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }
}

@-ms-keyframes fromrightinfirst {
  /* line 27, ../sass/ardor.sass */
  0% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  27.27273% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }
}

@keyframes fromrightinfirst {
  /* line 27, ../sass/ardor.sass */
  0% {
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  27.27273% {
    transform: translate(200%);
  }
}

/* line 22, ../sass/ardor.sass */
.ardor .slide.active .fromright.second {
  -webkit-animation-name: fromrightinsecond;
  -moz-animation-name: fromrightinsecond;
  -ms-animation-name: fromrightinsecond;
  -o-animation-name: fromrightinsecond;
  animation-name: fromrightinsecond;
  -webkit-animation-duration: 1300ms;
  -moz-animation-duration: 1300ms;
  -ms-animation-duration: 1300ms;
  -o-animation-duration: 1300ms;
  animation-duration: 1300ms;
}

@-moz-keyframes fromrightinsecond {
  /* line 27, ../sass/ardor.sass */
  0% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  38.46154% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }
}

@-webkit-keyframes fromrightinsecond {
  /* line 27, ../sass/ardor.sass */
  0% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  38.46154% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }
}

@-o-keyframes fromrightinsecond {
  /* line 27, ../sass/ardor.sass */
  0% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  38.46154% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }
}

@-ms-keyframes fromrightinsecond {
  /* line 27, ../sass/ardor.sass */
  0% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  38.46154% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }
}

@keyframes fromrightinsecond {
  /* line 27, ../sass/ardor.sass */
  0% {
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  38.46154% {
    transform: translate(200%);
  }
}

/* line 22, ../sass/ardor.sass */
.ardor .slide.active .fromright.third {
  -webkit-animation-name: fromrightinthird;
  -moz-animation-name: fromrightinthird;
  -ms-animation-name: fromrightinthird;
  -o-animation-name: fromrightinthird;
  animation-name: fromrightinthird;
  -webkit-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -ms-animation-duration: 1500ms;
  -o-animation-duration: 1500ms;
  animation-duration: 1500ms;
}

@-moz-keyframes fromrightinthird {
  /* line 27, ../sass/ardor.sass */
  0% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  46.66667% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }
}

@-webkit-keyframes fromrightinthird {
  /* line 27, ../sass/ardor.sass */
  0% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  46.66667% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }
}

@-o-keyframes fromrightinthird {
  /* line 27, ../sass/ardor.sass */
  0% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  46.66667% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }
}

@-ms-keyframes fromrightinthird {
  /* line 27, ../sass/ardor.sass */
  0% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  46.66667% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }
}

@keyframes fromrightinthird {
  /* line 27, ../sass/ardor.sass */
  0% {
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  46.66667% {
    transform: translate(200%);
  }
}

/* line 22, ../sass/ardor.sass */
.ardor .slide.active .fromright.fourth {
  -webkit-animation-name: fromrightinfourth;
  -moz-animation-name: fromrightinfourth;
  -ms-animation-name: fromrightinfourth;
  -o-animation-name: fromrightinfourth;
  animation-name: fromrightinfourth;
  -webkit-animation-duration: 1700ms;
  -moz-animation-duration: 1700ms;
  -ms-animation-duration: 1700ms;
  -o-animation-duration: 1700ms;
  animation-duration: 1700ms;
}

@-moz-keyframes fromrightinfourth {
  /* line 27, ../sass/ardor.sass */
  0% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  52.94118% {
    -moz-transform: translate(200%);
    transform: translate(200%);
  }
}

@-webkit-keyframes fromrightinfourth {
  /* line 27, ../sass/ardor.sass */
  0% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  52.94118% {
    -webkit-transform: translate(200%);
    transform: translate(200%);
  }
}

@-o-keyframes fromrightinfourth {
  /* line 27, ../sass/ardor.sass */
  0% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  52.94118% {
    -o-transform: translate(200%);
    transform: translate(200%);
  }
}

@-ms-keyframes fromrightinfourth {
  /* line 27, ../sass/ardor.sass */
  0% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  52.94118% {
    -ms-transform: translate(200%);
    transform: translate(200%);
  }
}

@keyframes fromrightinfourth {
  /* line 27, ../sass/ardor.sass */
  0% {
    transform: translate(200%);
  }

  /* line 29, ../sass/ardor.sass */
  52.94118% {
    transform: translate(200%);
  }
}

/* line 34, ../sass/ardor.sass */
.ardor .slide.inactive .fromright {
  -webkit-animation: fromrightout 600ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-animation: fromrightout 600ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-animation: fromrightout 600ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-animation: fromrightout 600ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: fromrightout 600ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-moz-keyframes fromrightout {
  /* line 38, ../sass/ardor.sass */
  to {
    -moz-transform: translate(-200%);
    transform: translate(-200%);
  }
}

@-webkit-keyframes fromrightout {
  /* line 38, ../sass/ardor.sass */
  to {
    -webkit-transform: translate(-200%);
    transform: translate(-200%);
  }
}

@-o-keyframes fromrightout {
  /* line 38, ../sass/ardor.sass */
  to {
    -o-transform: translate(-200%);
    transform: translate(-200%);
  }
}

@-ms-keyframes fromrightout {
  /* line 38, ../sass/ardor.sass */
  to {
    -ms-transform: translate(-200%);
    transform: translate(-200%);
  }
}

@keyframes fromrightout {
  /* line 38, ../sass/ardor.sass */
  to {
    transform: translate(-200%);
  }
}

/* line 42, ../sass/ardor.sass */
.ardor .slide.inactive .fromright.first {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -ms-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}

/* line 42, ../sass/ardor.sass */
.ardor .slide.inactive .fromright.second {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

/* line 42, ../sass/ardor.sass */
.ardor .slide.inactive .fromright.third {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  animation-delay: 700ms;
}

/* line 42, ../sass/ardor.sass */
.ardor .slide.inactive .fromright.fourth {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  animation-delay: 900ms;
}
